flows.json
[{"id":"ec9b2270.88de1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8dae4ff7.7c0e7","type":"ui_form","z":"ec9b2270.88de1","name":"","label":"","group":"7acfc28b.9bc62c","order":1,"width":12,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":240,"wires":[["4daea38a.ad401c"]]},{"id":"4daea38a.ad401c","type":"function","z":"ec9b2270.88de1","name":"","func":"msg.payload=msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["83a48707.fb1048","916c6959.1494b8"]]},{"id":"9b3ee09b.ceec7","type":"function","z":"ec9b2270.88de1","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["ba482945.bf03e8"]]},{"id":"83a48707.fb1048","type":"watson-conversation-v1","z":"ec9b2270.88de1","name":"Customer Care","workspaceid":"b456013f-1979-44df-b565-3935dda1fffb","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/df8fa070-5ec7-4bc8-81bc-b4962901012d","timeout":"","optout-learning":false,"x":560,"y":160,"wires":[["9b3ee09b.ceec7","f11bdd29.5aeb7"]]},{"id":"916c6959.1494b8","type":"ui_text","z":"ec9b2270.88de1","group":"7acfc28b.9bc62c","order":2,"width":12,"height":2,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"row-left","x":430,"y":320,"wires":[]},{"id":"f11bdd29.5aeb7","type":"debug","z":"ec9b2270.88de1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":80,"wires":[]},{"id":"ba482945.bf03e8","type":"ui_text","z":"ec9b2270.88de1","group":"7acfc28b.9bc62c","order":3,"width":12,"height":5,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":900,"y":340,"wires":[]},{"id":"7acfc28b.9bc62c","type":"ui_group","z":"","name":"Customer Care","tab":"17b4b160.80f1ef","order":1,"disp":true,"width":12,"collapse":false},{"id":"17b4b160.80f1ef","type":"ui_tab","z":"","name":"Customer Care Help Desk","icon":"dashboard","disabled":false,"hidden":false}]